.registration-content {
    height: 100vh;
}

.side-with-picture {
    background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-with-form {
    margin: 64px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 8px;
    background-color: #F44336;
}

.form-content {
    width: 100%;
    margin-top: 24px;
}

.submit-button {
    margin: 24px 0 0 16px;
}

.registration-message {
    margin: 24px 0 0 0;
}
